.App {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  display: flex;
  flex-direction: column;
}

#selection-container {
  background-color: orange;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
}